@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

.body * {
    -fx-font-family: "Montserrat";
}

.body .label {
    -fx-font-weight: bold;
}

.body .arrow {
    -fx-padding: 0.6em 0.75em 0.6em 0.75em;
    -fx-background-color: black;
}

.sort-button {
    -fx-label-padding: 0;
}

.createButton {
    -fx-background-color: radial-gradient(radius 100%, rgb(150, 150, 150), rgb(50, 50, 50));
    -fx-background-radius: 100%;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-padding: 0em;
    -fx-font-size: 50;
}
.createButton:pressed {
    -fx-background-color: radial-gradient(radius 100%, rgb(150, 150, 150), rgb(0, 0, 0));
}

.yearButton {
    -fx-background-radius: 100%;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(lightskyblue, dodgerblue);
    -fx-border-color: white;
    -fx-border-radius: 100%;
    -fx-padding: 0.1em 0.4em 0.1em 0.4em;
    -fx-font-size: 20;
}
.yearButton:pressed {
    -fx-background-color: linear-gradient(derive(lightskyblue, -10%), derive(dodgerblue, -10%));
}

.blue-button {
    -fx-background-color: linear-gradient(skyblue, dodgerblue);
}
.blue-button:pressed {
    -fx-background-color: linear-gradient(derive(skyblue, -10%), derive(dodgerblue, -10%));
}

.red-button {
    -fx-background-color: linear-gradient(salmon, crimson);
}
.red-button:pressed {
    -fx-background-color: linear-gradient(derive(salmon, -10%), derive(crimson, -10%));
}

.visual .text {
    -fx-bounds-type: visual;
}

.month {
    -fx-font-size: 24;
}

.activeMonth {
   -fx-font-weight: bold;
   -fx-background-color: #339DFF;
   -fx-background-radius: 25;
}

.events {
    -fx-font-size: 18;
}

.combo-box .list-cell {
    -fx-padding: 0.33em 0.03em 0.33em 0.03em;
}

.row-border {
    -fx-border-color: #339DFF;
    -fx-border-width: 2;
    -fx-border-style: hidden hidden solid hidden;
}

.transparent-scroll, .text-area .scroll-pane * {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.check-box {
    -fx-label-padding: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.check-box .box {
    -fx-padding: 0.8em;
}